language: scala
sudo: false
matrix:
  include:
    - scala: 2.10.4
      script: ./sbt ++$TRAVIS_SCALA_VERSION clean test
    
    - scala: 2.11.4
      script: ./sbt ++$TRAVIS_SCALA_VERSION clean coverage test
      after_success: "./sbt coveralls"
