language: scala
sudo: false
matrix:
  include:
    - name: checks
      scala: 2.11.12
      jdk: openjdk8
      script: sbt \
        "; scalafmtCheckAll; scalafmtSbtCheck" \
        "; scalafixEnable; scalafix --check; test:scalafix --check"

    - scala: 2.11.12
      jdk: openjdk8
      script: sbt \
        coverage \
        "++$TRAVIS_SCALA_VERSION clean" \
        "++$TRAVIS_SCALA_VERSION test" \
        "++$TRAVIS_SCALA_VERSION coverageReport" \
        "++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues"
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - scala: 2.11.12
      jdk: openjdk11
      script: sbt \
        "++$TRAVIS_SCALA_VERSION clean" \
        "++$TRAVIS_SCALA_VERSION test"

    - scala: 2.12.11
      jdk: openjdk8
      before_install:
        - export PATH=${PATH}:./vendor/bundle
      install:
        - rvm use 2.6.1 --install --fuzzy
        - gem install sass
        - gem install jekyll -v 3.2.1
      script: sbt \
        "++$TRAVIS_SCALA_VERSION clean" \
        "++$TRAVIS_SCALA_VERSION test" \
        "++$TRAVIS_SCALA_VERSION docs/makeMicrosite" \
        "++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues"

    - scala: 2.12.11
      jdk: openjdk11
      script: sbt \
        "++$TRAVIS_SCALA_VERSION clean" \
        "++$TRAVIS_SCALA_VERSION test"

    - scala: 2.13.2
      jdk: openjdk8
      script: sbt \
        "++$TRAVIS_SCALA_VERSION clean" \
        "++$TRAVIS_SCALA_VERSION test"

    - scala: 2.13.2
      jdk: openjdk11
      script: sbt \
        "++$TRAVIS_SCALA_VERSION clean" \
        "++$TRAVIS_SCALA_VERSION test"

cache:
  directories:
    - $HOME/.cache
    - $HOME/.sbt/boot/scala*
    - $HOME/.sbt/launchers
    - $HOME/.ivy2/cache
    - $HOME/.nvm

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/83f5f34730d7a004992f
    on_success: change
    on_failure: always
    on_start: never
